<div class="container">
  <%= form_for @character do |c| %>
  <br />
    <div>
      Name:<%= c.text_field :name, maxlength: 40, required: true %>
    </div>
    <div>
      Age:<%= c.number_field :age %>
    </div>
    <div>
      Level:<%= c.number_field :level, min: 1, max: 20 %>
    </div>
    <div>
      Experience:<%= c.number_field :xp %>
    </div>
    <div>
      Character Image:<%= c.text_field :image %>
    </div>
    <div>
      Description:<%=c.text_area :description %>
    </div>
    <div>
      Party Role:<%= c.text_field :party_role %>
    </div>
    <div>
      Party Id:<%= c.text_field :party_id%>
    </div>
    <%= button_to 'Save Changes', {action:"update", id:@character.id}, method: :put, class:'btn btn-large red darken-2' %>
  <% end %>
  <br />
  <br />
</div>
