<div class="container">
  <%= form_for @character do |c| %>
  <br />
    <div>
      Name:<%= c.text_field :name, maxlength: 40, required: true %>
    </div>
    <div>
      Age:<%= c.number_field :age %>
    </div>
    <div>
      Current Weight:<%= c.number_field :constitution %>
    </div>

    <div>
      Profile Picture:<%= c.text_field :image %>
    </div>
    <div>
      Description:<%=c.text_area :description %>
    </div>
    <div>
      Group Role:<%= c.text_field :party_role %>
    </div>
    <div>
      Group Number:<%= c.text_field :party_id%>
    </div>
    <%= button_to 'Save Changes', {action:"update", id:@character.id}, method: :put, class:'btn btn-large red darken-2' %>
  <% end %>
  <br />
  <br />
</div>
