<div class="all-character-show">
  <div class="container">
    <h1 class="character-show">Your Characters</h1>
    <div class="row">
      <hr>
      <% @characters.each do |c| %>
        <% if (current_user.id === c.user_id) %>
          <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                  <img src="<%= c.image %>">
                </div>
                <div class="card-content">
                  <span class="card-title"><%= c.name %></span>
                  <p>Age: <%= c.age %></p>
                  <p>Level: <%= c.level %></p>
                  <p>Experience: <%= c.xp %></p>
                  <p>Class: <%= c.class_name %></p>
                </div>
                <div class="card-action">
                <%=link_to "Character Details", character_path(c.id) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
