<div class="newCharacterPage container">
  <%= form_for @character do |c| %>
    <div class="character_info">
      <p>Name</p>
      <%= c.text_field :name, placeholder:'Name', required: true %>
      <p>Age</p>
      <%= c.number_field :age, placeholder:'Age',  required: true%>
      <p>My Story</p>
      <%= c.text_area(:description, placeholder: 'Tell us your story', maxlength: 2000) %>
      <p>Current Weight</p>
      <div>
        <%= c.number_field :constitution, placeholder: 'lbs' %>
      </div>
      <br />
      <h3>Goals</h3>
      <p>Strength Goals</p>
      <div class="input-field col s12">
        <%= c.text_field :strength  %>
      </div>
      <p>Endurance Goals</p>
      <div class="input-field col s12">
        <%= c.text_field :dexterity %>
      </div>
      <p>Goal Weight</p>
      <div class="input-field col s12">
        <%= c.number_field :intelligence, placeholder: 'lbs' %>
      </div>
      <p>Nutrition Goals</p>
      <div class="input-field col s12">
        <%= c.text_field :wisdom, placeholder: 'Tell us about your desired nutrition goals' %>
      </div>
      <p>Charisma Score</p>
      <div class="input-field col s12">
        <%= c.number_field :charisma, min: 3, max: 24, placeholder: '8' %>
      </div>
      <br />
      <p>Profile Picture</p>
      <%= c.text_field :image, placeholder: "Insert a URL" %>
      <%= hidden_field(:character, :user_id, :value => current_user.id) %>
      <br>
      <button type="submit" class="btn btn-large red darken-2"><%='Save Profile' %></button>
    </div>
    </div>

  <% end %>
</div>
