
<%= form_for @character do |c| %>
  <div class="character_info">
    <p>Character Name</p>
    <%= c.text_field :name, placeholder:'Name' %>
    <p>Character Age</p>
    <%= c.number_field :age, placeholder:'Age', min: 15%>
    <p>Character Level</p>
    <%= c.number_field :level, min: 1, max: 20, placeholder: '1' %>
    <p>Experience</p>
    <%= c.number_field :xp, placeholder: '2500', min: 1%>
    <p>Character Description</p>
    <%= c.text_area(:description, placeholder: 'Give your character a story', maxlength: 1000) %>
    <p>Choose Your Character's Race</p>
    <% @race_options.each do |r| %>
      <input type="radio"><%= r["name"] %></input>
      <% end %>
      <p>Choose A SubRace for Your Character</p>
      <% @subrace_options.each do |s| %>
        <button><%= s["name"] %></button>
        <% end %>
    <p>Choose a Class for Your Character</p>
    <% @character_classes.each do |d| %>
      <%=d["name"]%> <%= c.radio_button('class', d["name"])%>
    <% end %>
    <p>Character Image</p>
    <%= c.file_field :image %>




  </div>
  <%= hidden_field(:character, :user_id, :value => current_user.id) %>
  <br>
  <button type="submit"><%='Save Character' %></button>
<% end %>
