
<%= form_for @character do |c| %>
  <div class="character_info">
    <p>Character Name</p>
    <%= c.text_field :name, placeholder:'Name' %>
    <p>Character Age</p>
    <%= c.number_field :age, placeholder:'Age', min: 15%>
    <p>Character Level</p>
    <%= c.number_field :level, min: 1, max: 20, placeholder: '1' %>
    <p>Experience</p>
    <%= c.number_field :xp, placeholder: '2500', min: 1%>
    <p>Character Description</p>
    <%= c.text_area(:description, placeholder: 'Give your character a story', maxlength: 1000) %>
    <p>Choose Your Character's Race</p>
    <select><%= @chosen_race.each do |r| %>
      <option><%= r["name"] %></option>
      <% end %></select>
      <p>Choose A SubRace for Your Character</p>
      <select><%= @chosen_subrace.each do |s| %>
        <option><%= s["name"] %></option>
        <% end %></select>
    <p>Choose a Class for Your Character</p>
    <select><%= @character_classes.each do |d| %>
      <option><%= d["name"] %></option>
      <!-- <option><p><%= d["url"] %></p></option> -->
    <% end %></select>
    <p>Character Image</p>
    <%= c.file_field :image %>

    <!-- <p><%= @player_class_index %></p>
    <p><%= @unique_class %></p> -->


  </div>
  <%= hidden_field(:character, :user_id, :value => current_user.id) %>
  <br>
  <button type="submit"><%='Save Character' %></button>
<% end %>
