<div class="container">
  <% if (current_user.id == @character.user_id) %>
      <p><strong>Name:</strong> <%= @character.name %></p>
      <p><strong>Age:</strong> <%= @character.age %></p>
      <p id="race"></strong>Race:</strong> <%= @character.subrace %></p>
      <p><strong>Level:</strong> <%= @character.level %></p>
      <p><strong>Proficiency Bonus:</strong>
        <% if (@character.level <= 4) %>
          <%= "+2" %>
        <% elsif (@character.level >=5 && @character.level <= 8) %>
          <%= "+3" %>
        <% elsif (@character.level >=9 && @character.level <=12) %>
          <%= "+4" %>
        <% elsif (@character.level >= 13 && @character.level <= 16 ) %>
          <%= "+5" %>
        <% elsif (@character.level >= 17 && @character.level <= 20 ) %>
          <%= "+6"%>
        <% end %>
      </p>
      <p><strong>Experience:</strong> <%= @character.xp %></p>
      <p><strong>Class:</strong> <%= @character.class_name %></p>
      <!-- use erb to make it display better -->
        <% if @character.class_name === "Barbarian" %>
          <p><strong>Class Feature: </strong><%= @chosen_barbarian.join("") %></p>
        <% end %>
        <% if @character.class_name === "Cleric" %>
          <p><strong>Class Feature: </strong><%= @chosen_cleric.join("") %></p>
        <% end %>
        <% if @character.class_name === "Bard" %>
          <p><strong>Class Feature: </strong><%= @chosen_bard.join("") %></p>
        <% end %>
        <% if @character.class_name === "Druid" %>
          <p><strong>Class Feature: </strong><%= @chosen_druid.join("") %></p>
        <% end %>
        <% if @character.class_name === "Fighter" %>
          <p><strong>Class Feature: </strong><%= @chosen_fighter.join("") %></p>
        <% end %>
        <% if @character.class_name === "Monk" %>
          <p><strong>Class Feature: </strong><%= @chosen_monk.join("") %></p>
        <% end %>
        <% if @character.class_name === "Paladin" %>
          <p><strong>Class Feature: </strong><%= @chosen_paladin.join("") %></p>
        <% end %>
        <% if @character.class_name === "Ranger" %>
          <p><strong>Class Feature: </strong><%= @chosen_ranger.join("") %></p>
        <% end %>
        <% if @character.class_name === "Rogue" %>
          <p></strong>Class Feature: </strong><%= @chosen_rouge.join("") %></p>
        <% end %>
        <% if @character.class_name === "Sorcerer" %>
          <p><strong>Class Feature: </strong><%= @chosen_sorcerer.join("") %></p>
        <% end %>
        <% if @character.class_name === "Warlock" %>
          <p><strong>Class Feature: </strong><%= @chosen_warlock.join("") %></p>
        <% end %>
        <% if @character.class_name === "Wizard" %>
          <p><strong>Class Feature: </strong><%= @chosen_wizard.join("") %></p>
        <% end %>
      <p><strong>Alignment:</strong> <%= @character.alignment %></p>
      <p class="description"><strong>Character Story:</strong> <%= @character.description %></p>
      <img class="character-image" src="<%= @character.image %>" />
    <% end %>
    <br />
    <%= link_to "Edit Character", {action:"edit", id: @character.id}, method: :get, class:"btn btn-large red darken-2" %>
    <br />
    <br />
    <%= link_to "Delete Character", {action:"destroy", id: @character.id}, method: :delete, class:"btn btn-large red darken-2", data: { confirm: "Is the adventure over?"} %>
</div>
