<div class="container">
  <% if (current_user.id == @character.user_id) %>
      <p>Name: <%= @character.name %></p>
      <p>Age: <%= @character.age %></p>
      <p id="race">Race: <%= @character.subrace %></p>
      <p>Level: <%= @character.level %></p>
      <p>Proficiency Bonus:
        <% if (@character.level <= 4) %>
          <%= "+2" %>
        <% elsif (@character.level >=5 && @character.level <= 8) %>
          <%= "+3" %>
        <% elsif (@character.level >=9 && @character.level <=12) %>
          <%= "+4" %>
        <% elsif (@character.level >= 13 && @character.level <= 16 ) %>
          <%= "+5" %>
        <% elsif (@character.level >= 17 && @character.level <= 20 ) %>
          <%= "+6"%>
        <% end %>
      </p>
      <p>Experience: <%= @character.xp %></p>
      <p>Class: <%= @character.class_name %></p>
      <!-- use erb to make it display better -->
        <% if @character.class_name === "Barbarian" %>
          <p>Class Feature:<%= @chosen_barbarian.join("") %></p>
        <% end %>
        <% if @character.class_name === "Cleric" %>
          <p>Class Feature:<%= @chosen_cleric.join("") %></p>
        <% end %>
        <% if @character.class_name === "Bard" %>
          <p>Class Feature:<%= @chosen_bard.join("") %></p>
        <% end %>
        <% if @character.class_name === "Druid" %>
          <p>Class Feature:<%= @chosen_druid.join("") %></p>
        <% end %>
        <% if @character.class_name === "Fighter" %>
          <p>Class Feature:<%= @chosen_fighter.join("") %></p>
        <% end %>
        <% if @character.class_name === "Monk" %>
          <p>Class Feature:<%= @chosen_monk.join("") %></p>
        <% end %>
        <% if @character.class_name === "Paladin" %>
          <p>Class Feature:<%= @chosen_paladin.join("") %></p>
        <% end %>
        <% if @character.class_name === "Ranger" %>
          <p>Class Feature:<%= @chosen_ranger.join("") %></p>
        <% end %>
        <% if @character.class_name === "Rogue" %>
          <p>Class Feature:<%= @chosen_rouge.join("") %></p>
        <% end %>
        <% if @character.class_name === "Sorcerer" %>
          <p>Class Feature:<%= @chosen_sorcerer.join("") %></p>
        <% end %>
        <% if @character.class_name === "Warlock" %>
          <p>Class Feature:<%= @chosen_warlock.join("") %></p>
        <% end %>
        <% if @character.class_name === "Wizard" %>
          <p>Class Feature:<%= @chosen_wizard.join("") %></p>
        <% end %>
      <p>Alignment: <%= @character.alignment %></p>
      <p>Character Story: <%= @character.description %></p>
      <img class="character-image" src="<%= @character.image %>" />
    <% end %>
    <%= link_to "Edit Character", {action:"edit", id: @character.id}, method: :get, class:"btn btn-large" %>
    <br />
    <br />
    <%= link_to "Delete Character", {action:"destroy", id: @character.id}, method: :delete, class:"btn btn-large", data: { confirm: "Is the adventure over?"} %>
</div>
